app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/db.cpython-310.pyc
app/__pycache__/ext.cpython-310.pyc
app/petsadopt/api_v1_0/__pycache__/scrapper.cpython-310.pyc
instance/petsadopt.sqlite
__pycache__/entrypoint.cpython-310.pyc
__pycache__/entrypoint.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/scrappers/__pycache__/cambados.cpython-310.pyc
app/scrappers/__pycache__/main.cpython-310.pyc
app/scrappers/__pycache__/scrapper.cpython-310.pyc
instance/petsadopt.sqlite
__pycache__/entrypoint.cpython-310.pyc
app/scrappers/__pycache__/scrapper_factory.cpython-310.pyc
instance/petsadopt.sqlite
instance/petsadopt.sqlite
