app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/db.cpython-310.pyc
app/__pycache__/ext.cpython-310.pyc
app/petsadopt/api_v1_0/__pycache__/scrapper.cpython-310.pyc
instance/petsadopt.sqlite
